.home {
  text-align: center;
  .aplication-button {
    margin: 20px 0;
    padding: 5px 10px;
    background-color: #2e2e38;
    color: #ffffff;
    border: 1px solid transparent;
    outline: none;
    border-radius: 0;
    margin-bottom: 100px;
  }
  .aplication-button:hover {
    cursor: pointer;
    background-color: transparent;
    color: #2e2e38;
    border: 1px solid #2e2e38;
  }
}
